In [1]:
import pandas as pd

In [2]:
demand = pd.read_csv('./../../Data/통합 문서1.CSV')
data = pd.read_csv("./../../Data/data_with_depot.csv")

In [19]:
temp = pd.merge(left=data, right=demand[['latitude', 'longitude', '기기 한대로의 capa 변환값 (L)', 'demand (L)']], on=['latitude', 'longitude'], how='left')
temp.drop(columns =['Capacity'], inplace=True)
temp = temp.rename(columns={'기기 한대로의 capa 변환값 (L)' : 'capacity', 'demand (L)' : 'demand_mu'})
temp = temp.fillna(0)

In [20]:
temp

,index,Address,latitude,longitude,machine,capacity,demand_mu
0,0,전남 화순군 사평면 사호로 34-18,35.016688,127.074279,0,0.0,0.000000
1,1,전라남도 여수시 선소로 93 전기차충전소 뒷편,34.761028,127.667874,2,192.4,37.224908
2,2,전라남도 광양시 성황동 1861,34.937416,127.679394,1,132.8,34.840618
3,3,전라남도 광양시 광양읍 읍내리 252-1,34.976458,127.585253,2,358.0,86.714641
4,4,전라남도 광양시 광양읍 인덕로 1100,34.980792,127.582246,1,96.2,21.678660
...,...,...,...,...,...,...,...
61,61,광주광역시 남구 월산동 949,35.146601,126.890739,3,518.0,378.376652
62,62,광주광역시 북구 용봉동 162,35.176632,126.912366,1,160.0,251.957194
63,63,광주광역시 북구 용봉로 77,35.177819,126.908045,2,358.0,584.194554
64,64,광주광역시 남구 주월동 941-203,35.126065,126.896671,2,192.4,126.125551
65,65,광주광역시 서구 화운로 94 유니버시아드 힐스테이트 1단지,35.147450,126.882120,1,96.2,170.643580

In [22]:
temp.to_csv("./../../Data/data_with_depot.csv", index=False)

In [14]:
temp.head(60)

,index,Address,Capacity,latitude,longitude,machine,기기 한대로의 capa 변환값 (L),demand (L)
0,0,전남 화순군 사평면 사호로 34-18,NaN,35.016688,127.074279,0,NaN,NaN
1,1,전라남도 여수시 선소로 93 전기차충전소 뒷편,1인 1일 100개 (1회 100개),34.761028,127.667874,2,192.4,37.224908
2,2,전라남도 광양시 성황동 1861,1인 1일 200개 (1회 200개),34.937416,127.679394,1,132.8,34.840618
3,3,전라남도 광양시 광양읍 읍내리 252-1,1인 1일 100개 (1회 100개),34.976458,127.585253,2,358.0,86.714641
4,4,전라남도 광양시 광양읍 인덕로 1100,1인 1일 200개 (1회 200개),34.980792,127.582246,1,96.2,21.678660
5,5,전라남도 광양시 광양읍 남등길 6 광양읍사무소,1인 1일 200개 (1회 200개),34.973410,127.581050,2,192.4,43.357321
6,6,전라남도 광양시 광영동 1087,1인 1일 200개 (1회 200개),34.962851,127.725148,1,160.0,14.838680
7,7,전라남도 곡성군 곡성읍 학정리 526-2,1인 1일 100개 (1회 100개),35.286109,127.288533,1,160.0,10.425038
8,8,전라남도 목포시 자유로20번길 27,1인 1일 100개 (1회 100개),34.790958,126.392050,2,320.0,20.562230
9,9,전라남도 광양시 정수2길 47 광영동사무소,1인 1일 200개 (1회 200개),34.962922,127.722006,1,96.2,8.601338
10,10,전라남도 나주시 그린로 93,Unspecified,35.014383,126.779112,1,96.2,48.384642
11,11,전라남도 광양시 중동 674-4,1인 1일 200개 (1회 200개),34.951387,127.692538,2,292.8,276.621156
12,12,전라남도 목포시 용해동 1006,1인 1일 100개 (1회 100개),34.817165,126.397075,2,320.0,69.320872
13,13,전라남도 순천시 환선로 133,1인 1일 100개 (1회 100개),34.967671,127.486755,2,265.6,116.341740
14,14,전남 여수시 미평동 635-2,1인 1일 100개 (1회 100개),34.767867,127.702754,2,192.4,13.161957
15,15,전라남도 여수시 미평11길 6,1인 1일 100개 (1회 100개),34.769418,127.704965,2,265.6,26.323915
16,16,전라남도 광양시 폭포사랑길 99,1인 1일 200개 (1회 200개),34.940301,127.732250,1,96.2,27.095303
17,17,전라남도 목포시 옥암동 1022,1인 1일 100개 (1회 100개),34.804215,126.434552,2,320.0,86.549926
18,18,전라남도 강진군 강진읍 동성리 300-1,1인 1일 80개 (1회 80개),34.644317,126.771925,1,160.0,27.061714
19,19,전라남도 여수시 서교1길 28 서강동주민자치센터,1인 1일 100개 (1회 100개),34.741151,127.725888,2,192.4,7.658262
20,20,전남 여수시 선원동 1240-1,1인 1일 100개 (1회 100개),34.773784,127.651049,2,192.4,47.547964
21,21,전라남도 곡성군 옥과면 죽림2길 45,1인 1일 100개 (1회 100개),35.275565,127.140990,1,160.0,4.242603
22,22,전남 여수시 내동1길 2 진남수영장 2층,1인 1일 100개 (1회 100개),34.762107,127.720362,1,96.2,15.340221
23,23,전라남도 여수시 어항단지로 147,1인 1일 100개 (1회 100개),34.728531,127.723358,2,192.4,10.932429
24,24,전라남도 순천시 국가정원1호길 152-55,1인 1일 100개 (1회 100개),34.929699,127.509546,2,192.4,11.931122
25,25,전라남도 순천시 백연길 111,1인 1일 100개 (1회 100개),34.952535,127.532948,2,265.6,191.183295
26,26,전라남도 순천시 팔마1길 9-19,1인 1일 100개 (1회 100개),34.932491,127.512632,2,192.4,50.901930
27,27,전라남도 순천시 해룡면 매안로 138,1인 1일 100개 (1회 100개),34.936762,127.550452,2,265.6,273.709711
28,28,전라남도 강진군 강진읍 서성리 40-3,1인 1일 80개 (1회 80개),34.637254,126.765380,1,160.0,27.061714
29,29,전라남도 여수시 시청동1길 30,1인 1일 100개 (1회 100개),34.759082,127.663047,1,132.8,37.224908
30,30,전라남도 여수시 시청동1길 23,1인 1일 100개 (1회 100개),34.758739,127.663644,1,96.2,18.612454
31,31,전라남도 순천시 연향번영길 93,1인 1일 100개 (1회 100개),34.948905,127.517255,2,265.6,101.803859
32,32,"전라남도 여수시 오동도로 242, 관광안내소 뒤편",1인 1일 100개 (1회 100개),34.745241,127.766012,1,96.2,6.630551
33,33,전라남도 순천시 오천동 1025,1인 1일 100개 (1회 100개),34.934096,127.493951,2,265.6,86.376101
34,34,전라남도 곡성군 옥과면 옥과리 128-1,1인 1일 100개 (1회 100개),35.276206,127.134666,1,160.0,4.242603
35,35,전라남도 곡성군 옥과면 천변로 135,1인 1일 100개 (1회 100개),35.273750,127.135625,1,160.0,4.242603
36,36,전라남도 곡성군 옥과면 죽림리 632-13,1인 1일 100개 (1회 100개),35.279445,127.135312,1,160.0,4.242603
37,37,전라남도 목포시 삼향천로 118,1인 1일 100개 (1회 100개),34.810150,126.429858,2,320.0,86.549926
38,38,전라남도 완도군 완도읍 개포로 111,1인 1일 100개 (1회 100개),34.316673,126.741669,2,160.0,192.840261
39,39,"전라남도 여수시 예울마루로 37-40, 웅천친수공원 모유수유실 옆",1인 1일 100개 (1회 100개),34.745946,127.669309,2,192.4,95.144291
40,40,전라남도 목포시 연산동 1277,1인 1일 100개 (1회 100개),34.811640,126.381272,2,265.6,23.354434
41,41,전라남도 목포시 유동로 19,1인 1일 100개 (1회 100개),34.783483,126.380300,2,320.0,10.441725
42,42,전남 여수시 선어시장길 6,1인 1일 100개 (1회 100개),34.739578,127.736372,2,265.6,18.049026
43,43,전라남도 순천시 자경1길 13,1인 1일 100개 (1회 100개),34.950064,127.498747,1,132.8,28.350319
44,44,전라남도 광양시 중마중앙로 119 중마동사무소,1인 1일 200개 (1회 200개),34.941020,127.697666,1,96.2,8.601338
45,45,전라남도 여수시 소라면 죽림리 1140,1인 1일 100개 (1회 100개),34.764800,127.637231,2,192.4,4.899160
46,46,전라남도 곡성군 곡성읍 읍내리 98-2,1인 1일 100개 (1회 100개),35.282475,127.301781,1,198.0,1.660845
47,47,전라남도 목포시 산정동 1198-5,1인 1일 100개 (1회 100개),34.808355,126.371397,2,320.0,23.995526
48,48,전라남도 목포시 상동 1157,1인 1일 100개 (1회 100개),34.796123,126.433071,2,320.0,43.911145
49,49,전라남도 순천시 풍덕동 1287,1인 1일 100개 (1회 100개),34.939791,127.498466,1,132.8,11.931122
50,50,전라남도 목포시 백년대로337번길 35,1인 1일 100개 (1회 100개),34.808250,126.421208,2,320.0,43.911145
51,51,전라남도 곡성군 곡성읍 학정리 535-19,1인 1일 100개 (1회 100개),35.284764,127.290566,1,160.0,10.425038
52,52,전라남도 나주시 빛가람로 661,Unspecified,35.022540,126.782785,1,132.8,96.769283
53,53,전라남도 함평군 함평읍 한나리길 10-25,Unspecified,35.104282,126.494238,1,132.8,146.989296
54,54,전라남도 여수시 종화동 526-7,1인 1일 100개 (1회 100개),34.738406,127.744912,2,192.4,9.800737
55,55,광주광역시 북구 대자로 55,1인 1일 100개 (1회 100개),35.174779,126.879175,1,160.0,251.957194
56,56,광주광역시 북구 필문대로 55,1인 1일 100개 (1회 100개),35.164716,126.926953,1,160.0,251.957194
57,57,광주광역시 북구 첨단연신로29번길 15,1인 1일 100개 (1회 100개),35.200391,126.861749,1,160.0,251.957194
58,58,광주광역시 서구 치평동 1162,1인 1일 100개 (1회 100개),35.153430,126.840929,3,452.8,104.971628
59,59,광주광역시 남구 봉선동 1132-2,1인 1일 100개 (1회 100개),35.134025,126.906881,3,518.0,378.376652